<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1> This is the AUTHed Users Page! </h1>
    <h2 style="color:red"> You shouldn't see this page once you complete this exercise </h2>
    <a href="/home">Click here to go to back to home</a>
  </body>
</html>
